/* Base style (mobile)*/
html{
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    font-family: monospace , sans-serif;
    font-size: 1rem;
}
h1, h2, h3,h4,h5,h6 {
    font-family: monospace, sans-serif;
}
h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
a{
    text-decoration: none;
    color: #0ea5e9;
}
a:hover, a:focus{
    color: #bae6fd;
}
#navbar {
    padding: 32px;
    padding: 8px;
}
#logo-with-text{
    display: none;
}
#banner {
    object-fit: cover;
    height: 150px;
    width: 100%;
}
h1{
    text-align: center;
    margin: 12px 0;
}
#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin:0 auto;
    padding: 8px
}
#description {
    font-size: 1.1rem;
    color: #71717a;
}
#team{
    width: 100%;
}
#team-image {
    border-radius: 5px;
    width: 100%;
}
h2 {
    text-align: center;
}
#jobs {
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}
#jobs-list{
    display: block;
}
#jobs-table{
    display: none;
}
.job{
    border: 1px solid #dddddd;
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
}
.job-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #222222;
}
.job-detail{
    margin-top: 4px;
    color: #555555;
}
#application{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 0 8px;
    color: #71717a;
}
#application-form div{
    margin: 16px 0;
}
#application-form label{
    font-weight: 600;
}
#application-form input , select, textarea{
    width: 90%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #d4d4d8;
    font-family: monospace;
}
#application-form textarea{
    width: 90%;
}
#application-form input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
#application-form input[type="submit"] {
    background-color: #0ea5e9;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
#footer {
    background-color: #f4f4f5;
    padding-top: 16px;
    margin: 128px 0 0 0;
    text-align: center;
    padding-bottom: 10px;
}
#footer-links{
    list-style: none;
    padding-left: 0;
}
#footer-links li{
margin: 8px 16px ;
}
.copyright {
    color: #71717a;
    font-size: 0.875rem;
}




/* Small devices (tablets) */
@media screen and (min-width: 576px){
    html{
        font-size: 16px;
    }
    #logo{
        display: none;
    }
    #logo-with-text{
        display: block;
    }
    #banner {
        height: 220px;
    }
    h1{
        margin: 16px 0;
    }
    #footer-links li{
        display: inline;
    }
    
}








/* Medium devices (laptops) */
@media screen and (min-width: 768px){
    #banner {
        height: 300px;
    }
    h1{
        margin: 20px 0;
    }
    #about{
        max-width: 800px;
        flex-direction: row;
    }
    #description {
        width: 50%;
        padding: 0 8px 0 0;
    }
    #team{
        width: 50%;
    }
    #jobs{
        min-width: 800px;
    }
    #jobs-list{
        display: none;
    }
    #jobs-table{
        display: table;
    }
    #jobs-table {
        width: 100%;
        border: 1px solid #d4d4d8;
        border-collapse: collapse;
        font-size: 1.1rem;
    }
    .jobs-header-row th{
        border: 1px solid;
        padding: 10px;
        background-color: #d4d4d8;
        text-align: center;
        color: #3f3f46;
    }
    .jobs-data-row td{
        border: 1px solid #d4d4d8;
        padding: 8px;
        color: #71717a;
    }
    #jobs-table tr:nth-child(odd){
        background-color: #f4f4f5;
    }
    #application{
        max-width: 800px;
    }
    #application-form input , select, textarea{
        width: auto;
    }
}















/*










#logo {
    height: 30px;
    margin: 0;
}
h1, h2 {
    text-align: center;
    color: #3f3f46;
    margin: 32px;
}
#banner {
    width: 100%;
}









*/